@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<PageTitle>InovaROI</PageTitle>

<FluentLayout>
	<FluentHeader>
		InovaROI
	</FluentHeader>

	<FluentStack Orientation="Microsoft.FluentUI.AspNetCore.Components.Orientation.Horizontal">
		<FluentNavMenu Width="250" Collapsible="true" Expanded="false">
			<FluentNavLink Match="NavLinkMatch.All"
						   Tooltip="Home"
						   Href="/"
						   Icon="@(new Icons.Regular.Size24.Home())">Home</FluentNavLink>

			<FluentNavLink Match="NavLinkMatch.Prefix"
						   Href="/dashboard"
						   Tooltip="Dashboard"
						   Icon="@(new Icons.Regular.Size24.DataTrending())">Dashboard</FluentNavLink>

			<FluentNavLink Match="NavLinkMatch.Prefix"
						   Href="/calculator"
						   Tooltip="Calculadora de ROI"
						   Icon="@(new Icons.Regular.Size20.Calculator())">Calculadora</FluentNavLink>

			<FluentNavLink Match="NavLinkMatch.Prefix"
						   Href="/report"
						   Tooltip="Relatório Detalhado"
						   Icon="@(new Icons.Regular.Size24.DocumentBulletList())">Relatório</FluentNavLink>

			<FluentNavLink Match="NavLinkMatch.Prefix"
						   Href="/projects"
						   Tooltip="Projetos"
						   Icon="@(new Icons.Regular.Size24.AddSquare())">Projetos</FluentNavLink>

			<FluentNavLink Match="NavLinkMatch.Prefix"
						   Href="/about"
						   Tooltip="Sobre"
						   Icon="@(new Icons.Regular.Size24.Info())">Sobre</FluentNavLink>
		</FluentNavMenu>

		<FluentBodyContent>
			<div class="content">
				@Body
			</div>
		</FluentBodyContent>
	</FluentStack>

	<FluentFooter>
		<span>&copy; 2025 - Criado por Adriano Godoy e Danillo Silva.</span>
	</FluentFooter>
</FluentLayout>